.home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top : 50px;
}

.row {
  display: flex; 
  align-items: center; 
  gap: 10px;
  position: relative;
  margin-top: 10px;
}

.result {
  position: absolute; 
}

.childContainer {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width : 75%;
}

.option {
  margin-left: auto;
}
