.image-grid {
  display: grid;
  gap: 15px; 
  margin-top: 10px;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
}

.image {
  width: 100%;
  height: auto;
  /* max-height: 200px; */
  border-radius: 5%;
}

.description {
  margin-top: 10px;
  /* font-size: 20px; */
}

/* 동적으로 변하는 열의 개수에 따라 스타일 조절 */
.columns-1 {
  grid-template-columns: repeat(1, 1fr);
}

.columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.columns-4 {
  grid-template-columns: repeat(4, 1fr);
}
