.image-grid {
  display: grid;
  gap: 15px; 
  margin-top: 10px;
  width:100%;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 5%;
}

.description {
  margin-top: 10px;
}


.columns-1 {
  grid-template-columns: repeat(1, 1fr);
}

.columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.columns-4 {
  grid-template-columns: repeat(4, 1fr);
}
